/*---------------------------*/
/*          FONTS            */
/*---------------------------*/
@font-face {
    font-family: "Montserrat-Light";
    src: url("./fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Montserrat-LightItalic";
    src: url("./fonts/Montserrat-LightItalic.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Italic";
    src: url("./fonts/Montserrat-Italic.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-MediumItalic";
    src: url("./fonts/Montserrat-MediumItalic.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("./fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-BoldItalic";
    src: url("./fonts/Montserrat-BoldItalic.ttf");
}

body {
    font-family: Montserrat;
    color: #000000;
}

.T1, .T2 {
    font-family: Montserrat-Light;
}

.T1 {
    font-size: 11.5pt;
}

.T2 {
    font-size: 14pt;
}

.T3 {
    font-size: 14pt;
}

.T4 {
    font-size: 14pt;
    font-family: Montserrat-Bold;
}

h1 {
    font-family: Montserrat-LightItalic;
    font-size: 26pt;
}

h2 {
    font-family: Montserrat-Medium;
    font-size: 26pt;
}

h3 {
    font-family: Montserrat-Bold;
    font-size: 40pt;
}